* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

h2 {
    padding: 5px 0px 0px 10px;
    font-size: 20px;
    color:black;
}

p {
    padding: 0px 0px 10px 10px;
    font-size:16px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.font {
    font-family: Arial, Helvetica, sans-serif;

}
.box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.main-body-container {
    position:relative; 
    overflow:hidden; 
    Background-image: url('../img./bg_background3.jpg'); 
	Background-repeat: repeat;  
	Background-size: cover; 
}

.main-header, .main-footer {
    height:45px;
    width: 100vw;
    background-color:rgba(91, 68, 97, 0.76);
}

.logo {
<<<<<<< HEAD
    float: left;
    height: 80%;
    padding: 5px;
=======
    height: 90%;
    padding: 3px;
    float: left;
>>>>>>> b3cfe1da75b9c4cacb56cec875318305e5014d94
}

.logo-text {
    display: block;
    padding: 5px;
    font-size: 30px;
    color: gainsboro;
<<<<<<< HEAD
    float:left;
    width:80%;
=======
    padding-left: 40px;
    width: 80%;
>>>>>>> b3cfe1da75b9c4cacb56cec875318305e5014d94
}

.main-container {
    height: calc(100vh - 110px); 
    width: 90vw;
    margin: 10px auto;
}

.top-section {
    width: 100%;
    height: 130px;
    margin: 10px 0px;
    overflow: hidden;
    background-color:rgba(216, 239, 247, 0.5);
}

.top-inner-section {
   height: 130px;
    overflow: hidden;
}

.pic-container {
    height: 100%;
    width: 15%;
    float: left;
}

.pic-container>img {
    object-fit: contain;
    display: block;
    width: 135px;
    height: 120px;
    margin: 5px 15px;
    border-radius: 5%;
}
.bio-description {
    height: 100%;
    margin-left: 15%;
    padding: 0.5em;
    overflow: auto;
}

.bottom-section {
    width: 100%;
    height: 70%;
    background-color: rgba(214, 194, 199, 0.7);
}

.sidebar {
    width: 25%;
     background-color: rgba(214, 194, 199, 0.3);
    height: 100%;
    float: left;
}

.gallery {
    height: 100%;
    margin-left: 25%;
    padding: 0px 1em;
    overflow: auto;

}

.sidebar>ul {
    list-style-type: none;
    padding: 10px;
}

.sidebar>ul>li>a {
    padding: 15px 20px;
    display: block;
    background-color:  rgba(204, 204, 204, 0.9);
    border: 1px solid  #B28D95;
    transition-duration: 0.5s;
}

.sidebar>ul>li>a:hover {
    color: rgb(221, 221, 221);
}

.link1 {
    color: #B28D94;
}
.link2 {
    color: #574762;
}
.link3 {
    color: #4E4967;
}
.link4 {
    color: #25395E;
}
.link5 {
    color: #1D2D4E;
}
.link1:hover {
    background-color:#B28D94;
}
.link2:hover {
    background-color:#574762;
}
.link3:hover {
    background-color:#4E4967;
}
.link4:hover {
    background-color:#25395E;
}
.link5:hover {
    background-color:#1D2D4E;
}

.gallery-container {
    list-style-type: none;
    text-align: center;
}

.gallery-container>li {
    display: inline-block;
    margin: 10px;
}

.gallery-container>li>img {
    width: 230px;
    height: 200px;
    object-fit: cover;
}

.gallery-item:hover .image {
    opacity: 0.3;
}
.gallery-item:hover .middle {
    opacity: 1;
}

.image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition:.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text{
    background-color: whitesmoke;
    font-size:12px;
    padding: 12px 20px;
    font-style: italic
}
.footer-text {
    text-align: center;
    display: block;
    padding: 10px;
    color: gainsboro;
}